<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Index page by Flask</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/nubra.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script language="javascript" type="text/javascript">
function LoadItaSubject(title, url) {
    $.getJSON("/subjects",
        "url=" + url + "&title=" + title,
        function(data, textStatus, jqXHR) {
            sure_list = "";
            for (var i=0; i < data.length; i++){
                title = data[i].title;
                n_resu = data[i].n_resu;
                sure_list += "<div>" + title + " (" + n_resu + ")</div>";
            }
            $("#surelist").html(sure_list);
        });
}
</script>

</head>

<body>

<div id="outer">
    <div id="italist" class="col-sm-2" style="overflow-x:scroll; overflow-y:scroll; white-space: nowrap">
    {% for ita in ita_list %}
      <div><a href="javascript:void(0);" onclick="LoadItaSubject('{{ ita.title}}', '{{ ita.url }}');">{{ ita.title }}</a></div>
    {% endfor %}
    </div>

    <div id="surelist" class="col-sm-4" style="overflow-x:scroll; overflow-y:scroll; white-space: nowrap">
    </div>

    <div id="sureview" class="col-sm-6" style="overflow-x:scroll; overflow-y:scroll; white-space: nowrap">
    </div>
</div>

</body>
</html>
